.form-afiliados-container {
  width: 100%;
  height: 852px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-enviar {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.form-afiliados-img {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}

@media (max-width: 700px) {
  .form-afiliados-container {
    height: 100% !important;
    flex-direction: column;
  }

  .form-enviar {
    width: 100%;
  }

  .form-afiliados-img {
    width: 100%;
  }

  #enviar-afiliados {
    width: 250px !important;
  }

  .form-enviar p {
    font-size: 14px;
    margin-bottom: 20px;
    width: 300px !important;
  }

  .form-container-afiliados-enviar input {
    width: 300px !important;
  }

  .form-container-afiliados-enviar {
    height: 400px !important;
    border: none !important;
  }
}

.form-afiliados-img img {
  width: 100%;
}

.form-container-afiliados-enviar {
  width: 480px;
  height: 700px;

  border: 1px solid black;

  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container-afiliados-enviar input {
  margin: 8px;
  border: 1px solid black;
  background-color: transparent;
  height: 35px;
  width: 400px;
}

.style-input-label {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.style-input-label label {
  margin: 5px;
}

#enviar-afiliados {
  width: 480px;
  height: 40px;
  left: 833px;
  top: 1040px;
  margin-top: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: radial-gradient(50% 50% at 50% 50%, #e76767 0%, #df0707 100%);
}

.form-enviar p {
  width: 480px;

  margin-top: 20px;
}

.comece-sua-jornada-nova {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  height: 400px;
  margin-top: 54px;
}

.img-container-afiliados {
  height: 700px;

  color: white;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.texto-sua-jornada {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-text-jornada {
  width: 500px;
  margin: 10px;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  height: 60px;
  display: flex;
  border: 1px solid black;
}

.number-jornada {
  background-color: #df0707;
  color: white;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 30px;
}

.container-text-jornada p {
  font-size: 13px;
}

.text-prime-jornada {
  width: 500px;
}

.text-prime-jornada h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;

  color: #484848;
}

.modalmsg {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 18px 0px black;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 15px;
}

@media (max-width: 500px) {
  .comece-sua-jornada-nova {
    flex-direction: column;
    margin-top: -106px;
    height: 500px;
  }

  .modalmsg {
    width: 90%;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.549);
    backdrop-filter: blur(12px);
    color: #121212;
  }

  .modalmsg h2,
  .modalmsg span {
    font-weight: 800;

  }

  .form-enviar {
    justify-content: flex-start;
    height: 710px;
  }

  .texto-sua-jornada {
    width: 100% !important;
  }

  .text-prime-jornada {
    width: 350px;
  }

  .text-prime-jornada h2 {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .text-prime-jornada p {
    font-size: 10px;
  }

  .container-text-jornada {
    width: 350px;
  }

  .container-text-jornada p {
    font-size: 10px;
  }

  .form-afiliados-img {
    margin-top: 116px;
  }

  .form-container-afiliados-enviar {
    width: 100%;
  }
}

@media(max-width:420px) {

  .modalmsg h2,
  .modalmsg span {
    text-align: center;
  }

  .form-afiliados-img {
    height: 600px;
    margin-top: 149px;
  }
}