.container-pai-recomendados {
  width: 100%;
  margin-top: 40px;
  height: 640px;
  display: flex;
}

.container-pai-recomendados h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.contianer-recomendados {
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  scroll-behavior: smooth;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-snap-align: end;
  scrollbar-width: none;
  gap: 10px;
  position: absolute;
  justify-content: center;
  margin-top: 10rem;
  background-color: #f1f1f1;
}

#recomendados #img-recomendado-prod {
  width: 200px;
  height: 250px;
}

#recomendados .item-home {
  width: 300px;
}

@media (max-width: 900px) {
  .container-pai-recomendados {
    margin-top: 150px;
  }
}

@media (max-width: 500px) {
  .container-pai-recomendados {
    margin-top: 50px;
    height: 620px;
  }

  .container-pai-recomendados h2 {
    margin-left: 50px;
  }

  #recomendados img {
    width: 150px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .container-pai-recomendados {
    margin-top: 50px;
    height: 620px;
  }

  .container-pai-recomendados h2 {
    margin-left: 25px;
  }
}
